@import './panel';

.Mid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.wrap-container{
    height: 100vh;
}

// .cover{
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }